@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  touch-action: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: none;
}

.game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh; /* Используем высоту экрана как ширину для горизонтального режима */
  height: 100vw; /* Используем ширину экрана как высоту для горизонтального режима */
}

.choices {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}



@media screen and (orientation: portrait) {
  .game {
    display: none; /* Скрыть игру в вертикальной ориентации */
  }

  .rotate-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 24px;
  }
}

@media screen and (orientation: landscape) {
  .rotate-message {
    display: none;
  }

  .game {
    display: flex;
  }
}
